/*@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.eot');
  src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
  url('../fonts/RobotoBold.woff2') format('woff2'),
  url('../fonts/RobotoBold.woff') format('woff'),
  url('../fonts/RobotoBold.ttf') format('truetype'),
  url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium.eot');
  src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
  url('../fonts/RobotoMedium.woff2') format('woff2'),
  url('../fonts/RobotoMedium.woff') format('woff'),
  url('../fonts/RobotoMedium.ttf') format('truetype'),
  url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
  url('../fonts/RobotoRegular.woff2') format('woff2'),
  url('../fonts/RobotoRegular.woff') format('woff'),
  url('../fonts/RobotoRegular.ttf') format('truetype'),
  url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: url('../fonts/Geometria.eot') format('embedded-opentype'),
         url('../fonts/Geometria.woff2') format('woff2'),
         url('../fonts/Geometria.woff') format('woff'),
         url('../fonts/Geometria.ttf') format('truetype'),
         url('../fonts/Geometria.svg#Geometria') format('svg');
    font-weight: 400;
 	font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaBold.eot');
    src: url('../fonts/GeometriaBold.eot') format('embedded-opentype'),
         url('../fonts/GeometriaBold.woff2') format('woff2'),
         url('../fonts/GeometriaBold.woff') format('woff'),
         url('../fonts/GeometriaBold.ttf') format('truetype'),
         url('../fonts/GeometriaBold.svg#GeometriaBold') format('svg');
    font-weight: 700;
 	font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-ExtaBlack.eot');
  src: url('../fonts/Geometria-ExtaBlack.woff') format('woff'), 
      url('../fonts/Geometria-ExtaBlack.ttf') format('truetype'), 
      url('../fonts/Geometria-ExtaBlack.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('../fonts/GeometriaMedium.eot');
    src: url('../fonts/GeometriaMedium.eot') format('embedded-opentype'),
         url('../fonts/GeometriaMedium.woff2') format('woff2'),
         url('../fonts/GeometriaMedium.woff') format('woff'),
         url('../fonts/GeometriaMedium.ttf') format('truetype'),
         url('../fonts/GeometriaMedium.svg#GeometriaMedium') format('svg');
    font-weight: 500;
 	font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y8osue');
  src:  url('../fonts/icomoon.eot?y8osue#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y8osue') format('truetype'),
    url('../fonts/icomoon.woff?y8osue') format('woff'),
    url('../fonts/icomoon.svg?y8osue#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-full:before {
  content: "\e91d";
}
.icon-arrow-top:before {
  content: "\e91c";
}
.icon-close-bold:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91a";
}
.icon-arrow-left:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e919";
}
.icon-arrow-right:before {
  content: "\e917";
}
.icon-google-plus-logo:before {
  content: "\e910";
}
.icon-instagram-logo:before {
  content: "\e911";
}
.icon-pinterest-logo:before {
  content: "\e912";
}
.icon-youtube-logo:before {
  content: "\e913";
}
.icon-twitter-logo:before {
  content: "\e914";
}
.icon-facebook-logo:before {
  content: "\e915";
}
.icon-vk-logo:before {
  content: "\e916";
}
.icon-right-chevron:before {
  content: "\e90e";
}
.icon-arrow-down:before {
  content: "\e90f";
}
.icon-arrow-bg:before {
  content: "\e900";
}
.icon-arrow-border:before {
  content: "\e901";
}
.icon-arrow-long:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e905";
}
.icon-gear:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-heart-empty:before {
  content: "\e908";
}
.icon-heart-smile:before {
  content: "\e909";
}
.icon-logout:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-profile:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
