/* reset */
$min-width: 320px; 
$max-width: 1250px; 
$base-bg: #FFF; 
$base-font-size: 16px; 
$base-line-height: 24px; 
$base-font-family: 'Roboto', sans-serif; 
$custom-font-family: 'Geometria', sans-serif; 
$link-color: #100da9;
$default-transition: all 0.3s linear;

/* main variables */

//text, titles
$text-color: #37393e;
$title-color: #37393e;
$title-font-family: $custom-font-family;

$font-size-h1: 48px;
$line-height-h1: 54px;
$font-size-h2: 24px;
$line-height-h2: 32px;
$font-size-h3: 24px;
$line-height-h3: 32px;