.article-cont {
	position: relative;
	width: calc(100% - 270px);
	padding-right: 30px;
	padding-left: 11.8vw;

	.box-blue-wrap {
		margin: 0 -5000px;
	}
	
	.article-img {
		margin-left: -11.8vw;
	}

	.article-row__with-aside  {
		position: relative;
	}
	
	.article-row__aside-bg {
		position: absolute;
		left: 100%;
		top: 0;
		background-color: #f7f7f7;
		border-radius: 3px;
		padding: 27px 23px;
		width: 270px;
	}
	
	.article-row__aside {
		position: absolute;
		left: 100%;
		bottom: 50px;
	}

	p {
		max-width: 618px;

		&::selection {
			background: #f2e8ff;
		}
	}

	p.is-style-article-text-lg {
		color: #37393e;
		font-family: "Geometria", sans-serif;
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		margin-bottom: 18px;
		padding: 15px 0 15px 0;
	}

	h2 {
		color: #37393e;
		font-size: 24px;
		line-height: 31px;
		font-weight: 800;
		max-width: 618px;
	}

	h3 {
		font-size: 18px;
		font-weight: 800;
		line-height: 24px;

		&::selection {
			background: #f2e8ff;
		}
	}

	h5 {
		color: #37393e;
		font-family: "Geometria", sans-serif;
		font-size: 18px;
		font-weight: 800;
		line-height: 24px;
		margin-bottom: 23px;
	}

	ol {
		counter-reset: list;
		margin-top: 15px;
		max-width: 610px;
		margin-bottom: 53px;

		li {
			display: block;
			position: relative;
			position: relative;
			padding-left: 30px;
			border-bottom: 1px solid #e6e8eb;
			padding-bottom: 20px;
			margin-bottom: 25px;

			&::selection {
				background: #f2e8ff;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				counter-increment: list;
				content: "0"counter(list) ".";
				color: #8f939c;
				font-family: "Geometria", sans-serif;
				font-size: 14px;
				font-weight: 500;
				line-height: 24px;
				position: absolute;
				left: 0;
				top: 1px;
			}

			h4 {
				color: #37393e;
				font-family: "Geometria", sans-serif;
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;

				&::selection {
					background: #f2e8ff;
				}
			}

			p {
				color: #37393e;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;

				&::selection {
					background: #f2e8ff;
				}
			}
		}
	}

	.soc-wrap {
		position: relative;
	}

	.social-list {
		position: absolute;
		left: -11.8vw;
		top: 0;
	}
	
	.compare {
		margin-left: -11.8vw;
        margin-right: -5.3vw;
        margin-right: -270px;      
        margin-bottom: 20px;
	}

	blockquote {
		margin: 35px 0 38px -11.8vw;
		padding: 54px 0;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 8px;
			width: 100%;
			height: 6px;
			background-image: url(../img/wave.png);
			background-repeat: repeat-x;
			background-position: center center;
			display: block;
		}

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 6px;
			background-image: url(../img/wave.png);
			background-repeat: repeat-x;
			background-position: center center;
			display: block;
		}

		p {
			color: #37393e;
			font-family: "Geometria", sans-serif;
			font-size: 30px;
			font-weight: 500;
			line-height: 36px;
			max-width: 100%;

			&::selection {
				background: #f2e8ff;
			}
		}
	}
    .box-blue-wrap{
        margin-bottom: 20px;
    }
    
    & > ul {
        max-width: 611px;
        margin-bottom: 81px;

        li {
            color: #37393e;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            position: relative;
            padding-left: 20px;
            margin-bottom: 24px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 8px;
                width: 5px;
                height: 5px;
                background-color: #37393e;
                border-radius: 50%;
            }

            &::selection {
                background: #f2e8ff;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .box-blue-wrap .wrapper{
        max-width: 1100px;
    }
    .article-cont .box-blue-wrap{
        margin-left: -1860px;
        margin-right: -2000px;
    }
}
@media screen and (max-width: 1150px) {
    .box-blue-wrap .wrapper{
        max-width: 1000px;
    }
    .article-cont .box-blue-wrap{
        margin-left: -1830px;
        margin-right: -2000px;
    }
}

@media screen and (max-width: 1023px) {
	.article-cont {
		width: auto;
		padding-right: 0;
		padding-left: 0;
	}

	.article-cont .article-row__aside {
		position: static;
	}

	.article-cont .article-img {
		margin-left: 0;
	}

	.soc-wrap,
	.announce-wrap {
		padding-left: 19vw;
	}

	.article-cont .social-list {
		left: 0;
	}

	.article-cont blockquote {
		margin-left: 0;
	}

	.article-cont .announce-wrap .article-row__aside {
		width: auto;
		margin-left: -19vw;
	}

	.article-cont .announce-wrap_center .article-row__aside {
		transform: translateY(0);
	}

	.article-cont .announce-wrap .article-img {
		margin-left: 0;
	}
    .article-cont{
        & > p,
        & > ol,
        & > ul,
        & > h2,
        & > h3,
        & > h4{
            margin-left: 19vw;
        }
    }
    .article-cont .compare{
        margin-left: 0;
        margin-right: 0;
    }
    .article-cont .box-blue-wrap{
        margin-left: -20px;
        margin-right: -20px;
    }
    .article-cont .article-row__aside-bg{
        position: static;
        width: 100%;
    }
    .article-cont .article-img img{
        width: 100%;
    }
}



@media screen and (max-width: 767px) {

	.soc-wrap,
	.announce-wrap {
		padding-left: 0;
	}

	.article-cont {
		p {
			font-size: 14px;
			line-height: 22px;

			&.is-style-article-text-lg {
				font-size: 16px;
				line-height: 25px;
			}
		}

		h2 {
			font-size: 22px;
			line-height: 29px;
		}

		blockquote p {
			font-size: 24px;
			line-height: 30px;
		}

		ol li {
			padding-left: 25px;
		}

		ol li h4 {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.article-cont .article-img-mob-full {
		margin-left: -15px;
	}

	.article-cont blockquote {
		margin-left: 0;
	}

	.article-cont .announce-wrap .article-row__aside {
		margin-left: 0;
	}

	.article-cont .announce-wrap .article-img {
		margin-left: 0;
	}
    .article-cont .article-row__aside-bg{
        margin-bottom: 41px;
    }
    .article-cont{
        & > p,
        & > ol,
        & > ul,
        & > h2,
        & > h3,
        & > h4{
            margin-left: 0;
        }
        .article-aside{
            margin-bottom: 20px;
        }
    }
    
}

@media screen and (max-width: 479px) {
	.article-cont {
		.article-row__aside {
			padding: 31px 25px;
		}

		.article-aside span {
			font-size: 14px;
			line-height: 21px;
		}

		h2 {
			font-size: 18px;
			line-height: 22px;
		}

		p {
			line-height: 21px;
			padding: 7px 0;

			&.is-style-article-text-lg {
				font-size: 16px;
				line-height: 24px;
			}
		}

		blockquote {
			padding: 38px 0 38px;
			margin-bottom: 24px;

			p {
				font-size: 21px;
				line-height: 25px;
			}
		}

		ol {
			margin-top: 19px;

			li {
				padding-left: 32px;

				h4 {
					font-size: 16px;
					line-height: 24px;
				}

				p {
					font-size: 14px;
					line-height: 21px;
				}
			}
		}
	}
}