
.product-list__item {
    position: relative;
    //transition: all .5s;
}

.product-catalog {
    align-items: flex-start;
}

.product-list__item.active {

    &.product-list__item_big {
        .product-list__info {
            width: calc(200% + 5px);
        }
    }

    box-shadow: none;

    .product-list__cont:hover {
        box-shadow: none;
    }

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 7.5px 0 7.5px;
        border-color: #e6e8eb transparent transparent transparent;
        z-index: 99999;
    }

    .product-list__info {
        z-index: 999;
        top: 101%;
        opacity: 1;
        transition: top 1s;
    }
}

.product-list__info {
    width: calc(400% + 5px);
    position: absolute;
    z-index: -1;
    background: #fff;
    top: calc(100% + 20px);
    padding: 15px 86px 65px 79px;
    border-right: 1px solid #e6e8eb;
    border-bottom: 1px solid #e6e8eb;
    border-left: 1px solid #e6e8eb;
    opacity: 0;
    transition: top 1s;

    //h2 {
    //    color: #37393e;
    //    font-family: "Geometria";
    //    font-size: 18px;
    //    font-weight: 600;
    //}

    .googs-row__cont {
        width: 100%;
        padding-right: 0;
    }

    .store-offers-list {
        max-width: 100%;
    }
}

.loader-circle {
    display: flex;
    align-items: center;
}

.loader-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;

    &__circle {
        width: 194px;
        height: 194px;
        position: relative;
        border: 2px solid #E0E1E3;
        border-radius: 50%;

        .spin {
            position: absolute;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .animation {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-top: 4px solid #AE90D4;
            border-radius: 50%;
            animation: spin 2s linear infinite;
        }
    }

    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 150px;
        img{
            display: block;
            max-width: 100%;
        }
    }

    &__title {
        margin-top: 45px;
        width: 100%;
        text-align: center;

        color: #37393e;
        font-family: 'Geometria';
        font-size: 30px;
        font-weight: 800;
    }

    &__subtitle {
        margin-top: 20px;
        color: #8f939c;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
}

.product-list__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1024px){
    .product-list__item {
        &:hover{
            box-shadow: 0 3px 40px rgba(0, 0, 0, 0.17);
            z-index: 3;
        }
    }
    .product-list-5 .product-list__info { width: calc(500% + 6px);}  
    .product-list-5 .product-list__item.active.product-list__item_big .product-list__info { width: calc(250% + 4px);}
}
   
@media screen and (max-width: 1023px) {

    .product-list__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .product-list__info {
        width: calc(200% + 3px);
        padding: 15px 46px 35px 39px;
    }
    .product-list__item.active.product-list__item_big .product-list__info {
        width: calc(100% + 3px);
    }
    .product-list__info {
        .store-offers-list__col_3 {
            margin: 0 25px 0 0;
        }

        .store-offers-list .btn-pink {
            padding: 12px 18px 0;
        }
    }
}
@media screen and (max-width: 1023px)  and (min-width: 601px) {
    .product-list-5 .product-list__info { width: calc(300% + 4px);}  
    .product-list-5 .product-list__item.active.product-list__item_big .product-list__info { width: calc(150% + 2px);}

}  
@media screen and (max-width: 991px) {
    .product-list__info {
        .store-offers-list__col_2 {
            order: 3;
            width: 50%;
            min-width: 1px;
            margin: 0;
        }

        .store-offers-list__item {
            flex-wrap: wrap;
        }

        .store-offers-list__col_3 {
            margin: 0;
            width: 50%;
        }

        .store-offers-list__col_1 {
            width: 50%;
            min-width: 1px;
            margin: 0;
        }

        .store-offers-list__col_4 {
            order: 4;
            width: 50%;
            min-width: 1px;
            margin: 0;
            text-align: right;
        }
    }
}

@media screen and (max-width: 767px) {
    .product-list__info .store-offers-list__col_3 {
        margin: 0;
    }
    .loader-box__title {
        font-size: 26px;
    }
    .loader-box {
        margin-bottom: 50px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 479px){
    .product-list__info {
        .store-offers-list .btn-pink {
            padding: 10px 15px 0;
        }
    }
}