
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;	
}

.footer-row{
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
	padding: 44px 0;
	position: relative;
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 15px;
		top: 0;
		background-color: #e7e9ec;
		width: calc(100% - 30px);
		height: 1px;
	}
}
.footer-row-not-border:before{
	display: none;
}
.footer-col{
	padding: 0 15px;
	max-width: 25%;
	width: 100%;
	&_4{
		width: 100%;
		max-width: 25.2%;
	}
	p{
		color: #37393e;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}
	.copyright{
		color: #8f939c;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin-top: 7px;
	}
	.logo{
		max-width: 93px;
		margin-bottom: 12px;
		&+p{
			max-width: 155px;
		}
	}
}
.footer-nav{
	&__title{
		margin-bottom: 27px;
		color: #37393e;
		font-family: 'Geometria', sans-serif;
		font-size: 15px;
		font-weight: 700;
		line-height: 24px;
	}
	&-list{
		&__item{
			display: block;
			margin-bottom: 14px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__link{
			color: #37393e;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			&:hover{
				color: #9475be;
			}
		}
	}
}

.social-list{
	margin-bottom: 69px;
	white-space: nowrap;
	&__item{
		display: inline-block;
		vertical-align: top;
		margin-right: 3px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		color: #fff;
		line-height: 30px;
		display: block;
		width: 30px;
		height: 27px;
		border-radius: 44% 59% 55% 46% / 56% 57% 45% 46%  ;
		background-color: #7d9bd9;
		text-align: center;
		&:hover{
			animation: wobble 4.5s ease-in-out alternate infinite;
		}
		&_vk{
			background: #7d9bd9;
			&:hover{
				background-color: #6785c3;
			}
		}
		&_facebook{
			background: #6877d4;
			&:hover{
				background-color: #5463c0;
			}
		}
		&_twitter{
			background: #93d0e6;
			&:hover{
				background-color: #7fbcd2;
			}
		}
		&_instagram{
			background: #d0b9a2;
			&:hover{
				background-color: #bca58e;
			}
		}
		&_youtube{
			background: #e46464;
			&:hover{
				background-color: #d05050;
			}
		}
		&_google-plus{
			background: #f18f64;
			&:hover{
				background-color: #dd7b50;
			}
		}
		&_pinterest{
			background: #ea7f62;
			&:hover{
				background-color: #d66b4e;
			}
		}
	}
}
@keyframes wobble {
	25% {
		border-radius: 50% 59% 48% 47% / 48% 55% 51% 47%  ;
	}
	50% {
		border-radius: 64% 47% 56% 42% / 44% 69% 37% 53%  ;
	}
	75% {
		border-radius: 67% 46% 35% 68% / 44% 36% 63% 62% ;
	}
	100% {
		border-radius: 75% 40% 58% 39% / 31% 68% 41% 62%  ;
	}
}

.app{
	&__title{
		color: #37393e;
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 11px;
	}
	&-list{
		margin: 0 -5px 2px;
		white-space: nowrap;
		&__item{
			display: inline-block;
			vertical-align: top;
			padding: 0 5px;
		}
		&__link{
			max-width: 125px;
			display: block;
			img{
				display: block;
				max-width: 100%;
			}
			&:hover{
				opacity: 0.6;
			}
		}
	}
	p{
		color: #8f939c;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		max-width: 250px;
	}
}

@media screen and (max-width: 1290px) {
	.footer-col_4{
		width: auto;
		max-width: 100%;
	}
}

@media screen and (min-width: 1024px){
	
}

@media screen and (max-width: 1023px) {
	.footer-col_2{
		display: none;
	}
	.footer-col_3{
		display: none;
	}
	.footer-col{
		width: 50%;
		max-width: 50%;
	}
	.footer-col .logo + p{
		max-width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.social-list{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 767px) {
	.footer-row{
		flex-direction: column-reverse;
	}
	.footer-col{
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	.app p{
		margin: 0 auto;
	}
	.footer-col .logo{
		display: none;
	}
}
@media screen and (min-width: 479px) and (max-width: 767px) {
	.social-list{
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 479px) {
	.footer-row:before{
		left: 0;
		width: 100%;
	}
	.footer-row{
		padding: 30px 0;
		.social-list{
			margin-bottom: 35px;
		}
	}
	.footer-nav__title{
		margin-bottom: 24px;
	}
	.app p{
		max-width: 235px;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 9px;
	}
	.footer-col .copyright{
		margin-top: 10px;
		font-size: 14px;
	}
	.footer-row-not-border-mob{
		&:before{
			display: block;
		}
	}
	.box-paging{
		margin-bottom: 38px;
	}
}