
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:#ffffff ;
	width:100%;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
}
@media all and (-ms-high-contrast:none) and (max-width:767px){
   header{height: 55px;}
}
@media all and (-ms-high-contrast:none) and (min-width:768px){
   header{height: 84px;}
}
@media all and (-ms-high-contrast:none) and (min-width:1024px){
   header{height: 137px;}
}

.wrapper-flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:after{
		display: none;
	}
}
.header-top{
	padding: 21px 0;
	.logo{
		top: 3px;
		left: 3px;
		position: relative;
		margin: 0 30px 0 65px;
	}
	.auth{
		margin-top: -5px;
		margin-bottom: -5px;
	}
}
.button-nav{
	width: 21px;
	height: 17px;
	position: relative;
	display: block;
	&:hover{
		span{
			opacity: 0.6;
		}
	}
	span{
		display: block;
	    margin: 4px auto 4px auto;
	    width: 21px;
	    background-color: #a7acb8;
	    height: 3px;
	    transition: 0.3s ease;
	}
	&.active{
		transform: rotate(90deg);
		transform-origin: 50% 50%;
	}
}
.logo{
	display: inline-block;
	max-width: 100px;
	img{
		display: block;
		width: 100%;
	}
}
.search-field{	
	height: 42px;
	background-color: white;
	border: 2px solid #e6e8eb;
	border-radius: 5px;
	position: relative;
	min-width: 610px;
	&__input{
		color: #37393e;
		font-size: 13px;
		font-weight: 400;
		line-height: 32px;
		height: 40px;
		border: none;
		background-color: transparent;
		padding: 5px 45px 5px 16px;
		width: 100%;
		@include placeholder-color(#37393e);
	}
	&__btn{
		background-color: transparent;
		border: none;
		color: #b2b7c0;
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 9px;
		margin-top: -4px;
		padding: 0;
		&:hover{
			color: #100da9;
		}
	}	
}
.box-search{
	margin: 0 auto;
	position: relative;
}
.box-favorites{
	margin: 0 35px 0 0;
}
.favorites-link{
	white-space: nowrap;
	i{
		color: #af90d9;
		display: inline-block;
		vertical-align: top;
		margin-right:6px;
		font-size: 19px;
	}
	&__text{
		color: #37393e;
		font-size: 13px;
		font-weight: 400;
		line-height: 14px;
		display: inline-block;
		vertical-align: top;
		transition: all 0.3s;
		border-bottom: 1px solid transparent;
		padding-top: 1px;
	}
	&__counter{		
		color: #af90d9;
		font-size: 13px;
		font-weight: 700;
		line-height: 14px;
		display: inline-block;
		vertical-align: middle;
		transition: all 0.3s;
		padding-left: 3px;    margin-top: -4px;
	}
	&:hover{
		span{
			border-bottom-color: #37393e;
		}
	}
}
.box-sign-in{
	margin-left: 0;
	position: relative;
}
.sign-in{
	i{
		color: #af90d9;
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		font-size: 18px;
	}
	&__text{
		color: #37393e;
		font-size: 13px;
		font-weight: 400;
		line-height: 14px;
		display: inline-block;
		vertical-align: top;
		transition: all 0.3s;
		border-bottom: 1px solid transparent;
		letter-spacing: 0.3px;
		padding-top: 2px;
	}
	&:hover{
		span{
			border-bottom-color: #37393e;
		}
	}
}



.header-bottom{
	border-top:1px solid #e5e5e7;	
}
.inner-page{
	.header-bottom{
		border-bottom:1px solid #e5e5e7;
	}
}
.main-nav-list{
	display: flex;
	justify-content: space-between;
	 align-content: stretch;
	margin: 0 -15px;
	&__item{
		display: block;
		&:last-child{
			.main-nav-list__link:before{
				display: none;
			}
		}
		&.active{
			.main-nav-list__link{
				color: #62b571;
			}
		}
	}
	&__link{
		display: block;
		color: #37393e;
		font-family: 'Geometria', sans-serif;
		font-size: 15px;
		font-weight: 500;
		line-height: 18px;
		letter-spacing: -0.25px;
		padding: 17px 15px;
		position: relative;
		&:hover{
			color: #9475be;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: -4px;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 25px;
			background-color: #e5e5e7;
		}
	}
}
.box-extra-nav{
	position: relative;
	&.opened{
		.extra-nav{
			display: block;
		}
	}
}
.extra-nav{
	position: absolute;
	left: -30px;
	top: calc(100% + 31px);
	width: 234px;
	background-color: white;
	border: 1px solid #e6e8eb;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.07);
	padding: 21px 29px 30px;
	z-index: 105;
	display: none;
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 32px;
		top: -15px;
		@include arr(15,15,#e6e8eb,t);
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 32px;
		top: -13px;
		@include arr(15,15,#fff,t);
		z-index: 2;
	}
}
.extra-nav-list{
	&__item{
		display: block;
		margin-bottom: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		color: #37393e;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		border-bottom: 1px solid transparent;
		&:hover{
			border-bottom-color: #37393e;
		}
	}
}
.box-sign-in{
	&.opened{
		.profile-nav{
			display: block;
		}
	}
}
.auth{
	width: 50px;
	height: 50px;
	background-color: #e3e5eb;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	display: block;
	line-height: 50px;
	font-size: 20px;
	&:hover{
		opacity: 0.8;
	}
	img{
		display: block;
		max-width: 100%;
		border-radius: 50%;
	}
}
.profile-nav{
	position: absolute;
	right: -15px;
	top: calc(100% + 22px);
	width: 234px;
	background-color: white;
	border: 1px solid #e6e8eb;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.07);
	z-index: 101;
	display: none;
	&:before{
		content: '';
		display: block;
		position: absolute;
		right: 32px;
		top: -15px;
		@include arr(15,15,#e6e8eb,t);
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		right: 32px;
		top: -13px;
		@include arr(15,15,#fff,t);
		z-index: 2;
	}
	&__item{
		border-bottom: 1px solid #e6e8eb;
		padding: 16px 22px 10px;
		&:last-child{
			border-bottom: none;
		}
	}
	&__name{
		color: #37393e;
		font-size: 14px;
		font-weight: 700;
		line-height: 26px;
	}
}
.profile-nav-list{
	margin-bottom: 9px;
	&__item{
		display: block;
		margin-bottom: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		color: #37393e;
		position: relative;
		padding-left: 31px;
		i{
			position: absolute;
			left: 0;
			color: #b2b7c0;
			font-size: 15px;
		}
		.icon-heart-empty{
			font-size: 13px;
		}
		.icon-eye{
			font-size: 11px;
		}
		.icon-logout{
			font-size: 14px;
		}
		&:hover{
			.profile-nav-list__text{
				border-bottom-color: #37393e;
			}
		}
	}
	&__text{
		border-bottom: 1px solid transparent;
		transition: all 0.3s;
	}
	&__counter{
		color: #9c80c3;
	}
}
.show-result{
	.search-result{
		display: block;
	}
}

.search-result{
	padding: 9px 0;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #fff;
	width: 100%;
	z-index: 150;
	display: none;
	&__item{
		display: block;		
		position: relative;
		z-index: 2;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		color: #37393e;
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		padding: 8px 16px 8px 19px;
		display: block;
		span{
			font-weight: 700;
		}
		&:hover{
			color: #100da9;
		}
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: -100vw;
		top: 0;
		height: 100%;
		width: 300vw;
		background-color: #fff;
		border-bottom: 1px solid #e4e4e4;
	}
}
.content{	
	&.show-overlay{
		position: relative;
		.drop-nav-overlay{
			display: block;
			z-index: 152;
		}
	}
}
.drop-nav-overlay{
	background-color: rgba(67,58,79,0.22);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}


.main-nav{	
	&.active-nav{
		.drop-nav-wrap{
			opacity: 1;
			z-index: 153;
		}
	}
}
.drop-nav-wrap{
	position: absolute;
	left: 0;	
	width: 100%;	
	padding: 34px 40px 27px;
	position: absolute;
	top: 100%;
	opacity: 0;
	z-index: -2;
	transition: all 0.0s;
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -100vw;
		width: 300vw;
		height: 100%;
		background-color: white;
		border: 1px solid #e6e8eb;
	}
}
.drop-nav{
	display: none;
	&.show-drop{
		display: block;
	}
	&__title{
		color: #37393e;
		font-size: 30px;
		line-height: 35px;
		font-weight: 500;
		font-family: 'Geometria', sans-serfi;
		position: relative;
		z-index: 2;
		&:hover{
			color: #9475be;
		}
	}
	&__subtitle{
		color: #37393e;
		font-family: 'Geometria', sans-serfi;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		margin-bottom: 13px;
		max-width: 135px;
	}
	&__cont{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		position: relative;
		z-index: 2;
		margin-top: 15px;
		margin-right: -29px;
	}
	&__col{width:16.66%;padding:25px 20px 25px 0;}
	.banner{
		margin: 3px 0 0 auto;
	}
}

.drop-nav-list{
	margin-bottom: 33px;
	&:last-child{
		margin-bottom: 0;
	}
	&__item{
		display: block;
		margin-bottom: 5px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		display: inline-block;
		color: #8f939c;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		
		&:hover{
			color: #37393e;
			
		}
	}
}
.drop-nav-list__link-more {color:#62b571;} 
.drop-nav__icon {height: 61px;display: flex;flex-direction: row; align-items:center;justify-content: flex-start;margin-bottom: 15px;
	img {    max-height: 58px;}
}  

@media screen and (max-width: 1200px) {
	.main-nav-list__item:before{
		//right: 0;
	}
	.main-nav-list__link{
		padding-left: 7px;
		padding-right: 7px;
	}
	.main-nav-list{
		margin: 0 -7px;
	}
	.header-top .logo{
		margin: 0 auto;
	}
	.box-favorites{
		margin-right: 15px;
	}
	.drop-nav-wrap{
		padding-left: 25px;
		padding-right: 25px;
	}

}
@media screen and (max-width: 1100px) {
	.search-field{
		min-width: 510px;
	}
	.main-nav-list__link{
		font-size: 14px;
	}
}
@media screen and (min-width: 1024px){
	
}

@media screen and (max-width: 1023px) {
	.content.show-overlay .drop-nav-overlay{
		display: none;
	}
	.search-field{
		min-width: 320px;
	}
	.header-top .logo{
		margin: 0 auto 0 0;
	}
	.box-mob-nav{
		margin-left: 18px;
	}
	.mob-nav{
		position: fixed;
		right:-100%;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		z-index: 201;
		transition: all 0.3s;
		padding-top: 84px;
		&.opened{
			right: 0;
		}
	}
	.no-scroll{
		overflow: hidden;
	}
	.mob-nav-scroll{		
		overflow-y: auto;
		max-height: 100%;
		border-top:1px solid #e7e9ec;
	}
	.box-mob-nav {
		&.opened{
			.mob-nav{
				right: 0;
			}			
		}
		.social-list{
			margin-bottom: 0 ;
			padding: 28px 5px;
			text-align: center;
		}
	}
	.button-mob-nav{
		width: 14px;
		span{
			width: 14px;
			height: 2px;
			margin: 3px auto;
		}
		&.active{
			transform: none;
			z-index: 202;
			span{
				&:first-child{
					transform: rotate(-45deg);
				    position: absolute;
				    left: 0px;
				    top: 7px;
				    margin: 0 0 0 0;
				    width: 14px;
				}
				&:nth-child(2){
					background-color: transparent;
				}
				&:nth-child(3){
					transform: rotate(45deg);
					position: absolute;					
					width: 14px;
					top: 7px;
					right: 0px;
					margin: 0 0 0 0;
				}
			}
		}
	}
	.main-nav-list_mob{
		display: block;
		margin: 0;
		overflow: hidden;
		.main-nav-list__item{
			border-bottom:1px solid #e7e9ec;
			padding: 0;
			&.show-mob{
				.main-nav-list__text{
					font-size: 13px;
				}
				.main-nav-list__arr{
					font-size: 13px;
				}
			}
		}
		.main-nav-list__item:before{
			display: none;
		}
		.main-nav-list__link{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5px 20px 5px 12px;
			font-size: 15px;
			min-height: 70px;
		}
		.main-nav-list__icon{
			color: #9f8bdb;
			font-size: 18px;
			min-width: 34px;
			text-align: center;
			margin-right: 14px;
			svg{
				display: block;
				margin: 0 auto;
			}
		}
		.main-nav-list__text{
			margin: 0 auto  0 0px;
		}
		.main-nav-list__arr{			
			color: #af90d9;
			font-weight: 700;
			i{
				color: #a7acb8;
				font-size: 12px;
			}
		}
		.icon-clothes{
			width: 25px;
			height: 34px;
			top: -2px;
			position: relative;
		}
		.icon-toys{
			width: 31px;
			height: 29px;
			top: -4px;
			position: relative;
		}
		.icon-kid{
			width: 18px;
			height: 29px;
		}
		.icon-development{
			width: 34px;
			height: 32px;
		}
	}
	.extra-nav-list{
		padding: 26px 62px 35px;
		border-bottom:1px solid #e7e9ec;
	}
	.extra-nav-list__link{
		font-size: 13px;
	}
	.main-nav-list_sub-mob{
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		top: 0;
		z-index: 215;
		overflow: auto;
		&.show-sub-mob{
			display: block;
		}
	}
	.opened-sub-mob{
		.button-mob-nav{
			z-index: 1;
		}
		.search-mob-link{
			z-index: 1;
		}

	}
	.main-nav-list_sub-mob{
		.main-nav-list__link{
			padding: 21px 19px 21px 13px;
			letter-spacing: -0.35px;
		}
		.main-nav-list__link_title{
			justify-content: center;
			align-items: center;
			font-size: 14px;
			font-weight: 400;	
			min-height: 54px;	
			padding: 5px 13px;	
			.main-nav-list__text{
				margin: 0 auto;
			}
		}

	}	
	.main-nav-list__back{
		i{
			display: inline-block;
			transform: scale(-1,1);
			color: #a7acb8;
			font-size: 13px;
		}
		.main-nav-list__text{
			margin: 0 auto;
		}
	}
	.icon-moms-kids-1{
		width: 27px;
		height: 32px;
	}
	.icon-moms-kids-2{
		width: 29px;
		height: 30px;
	}
	.icon-moms-kids-3{
		width: 26px;
		height: 27px;
	}
	.icon-moms-kids-4{
		width: 26px;
		height: 30px;
	}
	.icon-moms-kids-5{
		width: 15px;
		height: 29px;
	}
	.icon-moms-kids-6{
		width: 25px;
		height: 30px;
	}
	.icon-moms-kids-7{
		width: 26px;
		height: 30px;
		position: relative;
		top: -3px;
	}
	.icon-moms-kids-8{
		width: 26px;
		height: 26px;
	}
	.icon-moms-kids-9{
		width: 26px;
		height: 27px;
	}
	.icon-moms-kids-10{
		width: 30px;
		height: 29px;
	}
	.icon-moms-kids-11{
		width: 21px;
		height: 27px;
	}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.main-nav-list__item.show-mob+.main-nav-list__item{
		border-top: 1px solid #e7e9ec;
	}
	header.inner-page{
		border-bottom: 1px solid #e5e5e7;
	}
	.mob-nav-scroll{
		border-top: none;
	}
}

@media screen and (max-width: 767px) {
	header{
		border-bottom: 1px solid #e7e9ec;
	}
	.header-top .logo{
		margin: 0 auto;
		max-width: 80px;
	}
	.box-mob-nav{
		margin-left: auto;
	}
	.header-top{
		padding: 15px 0;
	}
	.search-form{
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 204;
		background-color: #fff;
		width: 100%;
		&__title{
			color: #37393e;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			padding: 19px 35px 15px;
			border-bottom: 1px solid #e7e9ec;
			text-align: center;
			position: relative;
		}
		&__back{
			color: #a7acb8;
			display: block;
			position: absolute;
			left: 0px;
			padding: 10px 13px;
			top: 52%;
			transform: translate(0,-50%);
			font-size: 12px;
			i{
				transform: scale(-1,-1);
				display: inline-block;
			}
		}
		form{
			padding: 20px 15px;
		}
	}
	.search-field{
		min-width: 100%;
	}
	.box-search{
		margin: 0 auto 0 0;
		order: -1;
		&.opened{  
			.search-form{
				display: block;
			}
		}
	}
	.search-mob-link{
		color: #a7acb8;
	}
	.search-field__btn{
		display: none;
	}	
	.search-mob-link{
		position: relative;
		z-index: 204;
	}
	.mob-nav{
		padding-top: 54px;
	}
	.search-result{
		padding: 0 0 15px;
		top: calc(100% - 10px);
	}
	.search-result__link{
		padding: 8px 31px;
	}
	
}
